@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

/* Set the box-sizing for all elements to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;}

  figure{
  background-position: right;
  background-size: cover;
  width: 100%;
 height:740px
}


.content-wrapper {
  width: 100%;
  height:740px;
  background-color: #18495b;
  padding: 5%;
  color: wheat;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 10%;

}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


h1 {
  font-size: 55px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded", cursive;
}

p{
    font-size: 20px;
    font-weight: 400;
}

/*
Responsive Web Design.
-----------------------
1024   - tablet
768    - phone
420    - phone portrait

*/

@media screen and (max-width: 1024px) {
  .button a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    padding-bottom: 50px;
  }
  

  .content-wrapper,
  figure {
    width: 100%;;
  }

  figure {
    height: 300px;
  }
}

