*{
    margin: 0;
    padding:0;
    font-family: sans-serif ;
}

#topbar{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:#EAFDFC ;
}
nav{
    display: flex;
    width: 95%;
    height: 40px;
    padding-top: 45px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a{
    text-decoration: double;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color:crimson;
}

img{
    width: 100px;
    height: 80px;
}

.detail{
    margin-left: 5%;
    margin-top: 17%;
    margin-left: 100px;
}

.detail h1{
    font-size: 50px;
    color:black;
    margin-bottom: 20px;
}

span{
    color: #CF0A0A;
}

.detail p{
    color: black;
    line-height: 22px;
    font-size: 20px;
}

.images{
    width: 45%;
    height: 80%;
    position:absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left;
}

.images .selfphoto{
    height: 475px;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 110px;
    padding-right: 20px;
}

#about{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #BFEAF5;
}
.image2 .img2{
    height: 100vh;
    width: 290px;
}
.about-text{
    width:550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h3{
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: black ;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


#education{
    background: #EAFDFC;
    width: 100%;
    height: 100vh;
}
.title h4{
    color: black;
    font-size: 45px;
    width: 1130px;
    margin: 0px auto;
    text-align: left;
    padding-top: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-top: 50px;
}
.card{
    height:365px;
    width:355px;
    padding: 20px 35px;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
}
.card img{
    height:125px;
    width:145px;
}
h5{
    font-size: 25px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
.pra p{
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
}


#hobbies{
    background-color: #BFEAF5;
    height:100vh;
    width:100%;
}
.title h4{
    color: black;
    font-size: 45px;
    width: 1130px;
    margin: 0px auto;
    text-align: left;
    padding-top: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-top: 50px;
}
.card{
    height:365px;
    width:355px;
    padding: 20px 35px;
    background-color: #EAFDFC;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
}
.card img{
    height:125px;
    width:145px;
}
h5{
    font-size: 25px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
.pra p{
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
}
.card .button{
    background-color: crimson;
    color:#EAFDFC;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 3s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;
}


#contact{
    height: 100vh;
    width:100%;
    background-color:#EAFDFC;
}

#contact{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info{
    color:#101010;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 60px;
}

.contact-info{
    margin-right: 20px;
    font-size:25px;
}

.contact-form{
    width: 500px;
    margin-right: 50px;
}
.contact-form h2{
    color:#101010;
    text-align:center;
    font-size: 35px;
    text-transform: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: #101010;
    color:#fff;
    border: none;
    width:100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize:vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
    float:right;
    background: #2E94E3 ;
    color: #fff;
    border:none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form .send-btn:hover{
    background: #0582E3S;
}

#contact .contact-info .i{
    background-color: black;
    color:white;

}



.footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #97e7f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p:nth-child(1){
    font-size: 30px;
    color: #101010;
    margin-bottom: 20px;
    font-weight: bold; 
}
.footer p:nth-child(2){
    color: #101010;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display:flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: crimson;
    border-radius: 50%;
    margin: 22px 10px;
    color:white;
    text-decoration: none;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #101010;
    bottom: 35px;
    font-size: 14px;
}

